<section id="about">
  <div class="container my-5">
    <div class="row">
        <h2 class="display-5 mb-4 mb-lg-5">About the Workshop</h2>

        <figure class="text-center">
          <blockquote class="blockquote">
            <p>But I am dreaming the biggest disabled dream of my life—dreaming not just of a revolutionary movement in which we are not abandoned but of a movement in which we lead the way. With all of our crazy, adaptive-deviced, loving kinship and commitment to each other, we will leave no one behind as we roll, limp, stim, sign, and move in a million ways towards cocreating the decolonial living future. I am dreaming like my life depends on it. Because it does.</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            Leah Lakshmi Piepzna-Samarasinha, <cite title="Source Title">Care Work: Dreaming Disability Justice</cite>
          </figcaption>
        </figure>

        <p>The integration of disability justice and HCI could bring promising opportunities for solidarity and justice, as well as knowledge production and design. However, little is known about the potential roles disability justice can play within HCI, raising questions such as: How to integrate accessible methods and collective access into research practices? How does disability intersect with other marginal identities? This leads to several concerns, e.g. injustice/unfairness and further oppression within technology building spaces.</p>
        <p>In this one-day workshop, we will bring together people doing research to address ableism that takes a justice-oriented and intersectional perspective. We will use this workshop to enrich critical HCI scholarship and challenge western, white, and ableist hegemonies within the feld and beyond. This workshop will also be used as a means to go beyond accessibility, acknowledging how disability is present in all facets of HCI, and calling in a diverse range of scholarships to critically refect on disability justice within their work. Together, we will explore several critical questions, including:</p>
        <ol>
          <li>How does disability intersect with other overlapping systems of oppression (racism, anti-Blackness, sexism, classism, colonialism, etc) and how does it inform the technologies we design?</li>
          <li>How does disability justice expand and complicate human-centered approaches in HCI research?</li>
          <li>What might disability justice look like in HCI?</li>
          <li>How can we as HCI researchers create and maintain a practice of care in creating access?</li>
        </ol>
    </div>
  </div>
</section>
