<section id="contact" class="bg-light">
  <div class="container my-5">
    <div class="row">
        <h2 class="display-5 mb-4 mb-lg-5">Contact</h2>
        <p>If you would like to further discuss how your work with/for disabled people might fit the focus of this workshop, please email <a href="mailto:{{ site.email }}">{{site.email}}</a> to brainstorm potential synergies. Upon request, the organizers will attempt to secure funding for those who need financial support to attend.</p>
    </div>
  </div>
</section>
