<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Dreaming DJ in HCI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#schedule">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#submissions">Submissions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#organizers">Organizers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#resources">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#community">Community</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
