<section id="organizers" class="bg-light">
  <div class="container my-5">
    <div class="">
      <h2 class="display-5 mb-4 mb-lg-5">Organizers</h2>
      <div class="container px-0">
        <div class="row mb-4">
          <div class="col-md-3 mb-4">
            <img src="/assets/images/cella.jpg" class="img-fluid rounded-circle" alt="Portrait photo of Cella Sum"/>
          </div>
          <div class="col-md-9">
            <p><a href="https://cella.io/">Cella M. Sum</a> is a PhD student at Carnegie Mellon University’s Human-Computer Interaction Institute. Her research focuses on technology, labor, disability, and care infrastructures. Drawing from postcolonial, feminist, and critical disability perspectives,she examines the politics of care in relation to technology and design. Using community-based participatory design methods, she works with affected communities to co-create more just alternatives.</p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-3 mb-4">
            <img src="/assets/images/rahaf.jpg" class="img-fluid rounded-circle" alt="Portrait photo of Rahaf Alharbi"/>
          </div>
          <div class="col-md-9">
            <p><a href="https://www.rahafalharbi.com/">Rahaf Alharbi</a> is a PhD student at University of Michigan. Rahaf explores questions around AI/ML, privacy, power, disability studies, accessibility, and more broadly, human-computer interaction. Drawing from a disability justice lens, Rahaf centers the imaginaries and perspectives of disabled people in the development, design, and refusal of emerging technologies.</p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-3 mb-4">
            <img src="/assets/images/franky.png" class="img-fluid rounded-circle" alt="Portrait photo of Franchesca Spektor"/>
          </div>
          <div class="col-md-9">
            <p><a href="https://fspektor.myportfolio.com">Franchesca Spektor</a> is a PhD student at the Human-Computer Interaction Institute at Carnegie Mellon University. Her research focuses on the ways that technological systems and market forces construct socially valuable bodies. She seeks to challenge dominant discourses around disability, sexuality, and expertise through community-driven design methods.</p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-3 mb-4">
            <img src="/assets/images/cindy.png" class="img-fluid rounded-circle" alt="Portrait photo of Cynthia Bennett"/>
          </div>
          <div class="col-md-9">
            <p><a href="https://www.bennettc.com/">Cynthia Bennett</a> is a postdoctoral researcher at Carnegie Mellon University’s Human-Computer Interaction Institute. Her research concerns the intersection of power, disability, design, and accessibility. She positions the lived experiences and creativity of people with disabilities as starting points for developing accessible and justice-oriented applications of AI and sociotechnical systems. She is also a disabled scholar. Disability justice guides her to center access in her research groups and when she develops design activities and research methods.</p>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-3 mb-4">
          <img src="/assets/images/christina.jpg" class="img-fluid rounded-circle" alt="Portrait photo of Christina Harrington"/>
        </div>
        <div class="col-md-9">
          <p><a href="https://www.christinaharrington.me/">Christina Harrington</a> is an Assistant Professor in the HCI Institute at Carnegie Mellon University. Her research focuses on design research to support health and racial equity among groups that have been historically marginalized groups based on race and class. Her research leverages community-based participatory design methods to address social deficits and technology access.</p>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-3 mb-4">
          <img src="/assets/images/katta.png" class="img-fluid rounded-circle" alt="Portrait photo of Katta Spiel"/>
        </div>
        <div class="col-md-9">
          <p><a href="https://katta.mere.st/">Katta Spiel</a> is an FWF-Hertha-Firnberg scholar at TU Wien (Austria). They research queer and crip perspectives on technologies with a specific focus on the perspectives of neurodivergent and non-binary/inter* folks. Their most recent work investigates the potential of wearable computing technologies to counteract body norms in technological design.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 mb-4">
          <img src="/assets/images/rua.png" class="img-fluid rounded-circle" alt="Portrait photo of Rua Williams"/>
        </div>
        <div class="col-md-9">
          <p><a href="https://www.ruamae.com/">Rua M. Williams<a/> is an Assistant Professor of User Experience Design at Purdue University. They apply inquiry from Critical Disability Studies and Science & Technology Studies scholarship in the critique of oppressive research and design practices in the field of HCI. Their current research projects focus on the ethical reform of researchers through counterventional methods – leveraging the testimony and design expertise of marginalized people to intervene on the technosolutionist drives that target disabled and “underserved” populations as problems in need of intervention.</p>
        </div>
      </div>
  </div>
</section>
