<section id="resources">
  <div class="container my-5">
    <div class="row">
        <h2 class="display-5 mb-4 mb-lg-5">Resources</h2>
        <h3 class="mb-4">Accessibility</h3>
        <ol>
          <li><a href="https://www.adobe.com/accessibility/resources.html">Adobe’s resource center for PDF accessibility</a>
          <li><a href="https://www.plainlanguage.gov/">Plain Language Action and Information Network Guide on Plain Language</a>
          <li><a href="https://www.w3.org/WAI/WCAG21/Techniques/#pdf">PDF Techniques for WCAG 2.1</a>
          <li><a href="https://www.sigaccess.org/welcome-to-sigaccess/resources/acm-submission-with-ms-word/">SIGACCESS Guide on Creating Accessible PDFs in Microsoft Word</a>
          <li><a href="https://www.sigaccess.org/welcome-to-sigaccess/resources/describing-figures/">SIGACCESS Guide on Describing Figures</a></li>
          <li><a href="https://www.sigaccess.org/welcome-to-sigaccess/resources/accessible-pdf-author-guide/">SIGACCESS Guide on Making an Accessible ACM Conference Paper</a>
          <li><a href="https://www.sigaccess.org/welcome-to-sigaccess/resources/accessible-presentation-guide/">SIGACCESS Guide on Making an Accessible Presentation</a>
          <li><a href="https://sigchi.org/conferences/author-resources/accessibility-guide/">SIGCHI Guide to an Accessible Submission</a></li>
          <li><a href="https://sigchi.org/conferences/author-resources/video-guide/">SIGCHI Technical Requirements and Guidelines for Videos</a></li>
          <li><a href="https://webaim.org/techniques/word/">WebAim Guide on Creating Accessible Word Documents</a>
          <li><a href="https://webaim.org/techniques/acrobat/converting">WebAIM Guide on PDF accessibility</a>
        </ol>

        <h3 class="my-4">Disability Justice</h3>
        <ol>
          <li><a href="https://abolitionanddisabilityjustice.com/">The Abolition and Disability Justice Collective</a></li>
          <li><a href="https://disabilityvisibilityproject.com/">Disability Visibility Project</a></li>
          <li><a href="https://harriettubmancollective.tumblr.com/">Harriet Tubman Collective</a></li>
          <li><a href="https://behearddc.org/">HEARD</a></li>
          <li><a href="https://leavingevidence.wordpress.com/">Leaving Evidence: a blog by Mia Mingus</a></li>
          <li><a href="https://projectlets.org/">Project LETS</a></li>
          <li><a href="https://www.sickofit.space/">Sick of It! A Disability Inside/Outside Project</a></li>
          <li><a href="https://www.sinsinvalid.org">Sins Invalid</a></li>
        </ol>




    </div>
  </div>
</section>
