<section id="schedule" class="bg-light">
  <div class="container my-5">
    <div class="">
      <h2 class="display-5 mb-4 mb-lg-5">Schedule</h2>
      <div class="container px-0">
        <div class="row mb-2">
          <div class="col-md-6">
            <p>The workshop will be entirely virtual on April 22, 2022 (9 AM-1 PM EST). We will host the workshop over Zoom and utilize breakout rooms for small group discussions. We will tailor the workshop based on access requirements, which may include sign language interpretations, captioning or other required services.</p>
            <p>The four-hour workshop will take place on Zoom as follows:</p>
            <h3 class="h6">Opening and Introductions (1 hour)</h3>
            <p>We will open with the workshop’s motivation, agenda, and introduction to the organizers. We will then facilitate an Introduction round for workshop participants to get to know each other, their research interests, and expectations for the workshop.</p>
            <h3 class="h6">Breakout Groups (1 hour 20 minutes)</h3>
            <p>We will then organize participants into breakout groups based on submissions and pre-workshop discussion on Discord. At least one organizer will attend each of the breakout rooms to serve as a facilitator and note taker. Each organizer will create discussion points to provoke conversation.</p>
            <h3 class="h6">Breaks (10 minutes each)</h3>
            <p>Although we will encourage participants to take a break whenever they need, we will schedule two 10-minute breaks between sessions to allow participants time away from the workshop.</p>
            <h3 class="h6">Reflection and Closing Remarks (1 hour 20 minutes)</h3>
            <p>The breakout groups will reconvene as a larger group to share their reflections and learnings with each other. We will close out by identifying opportunities for further discussion and collaboration beyond the workshop.</p>
          </div>
          <div class="col-md-6">
            <table class="table table-bordered border-secondary">
              <thead>
                <tr>
                  <th scope="col">Duration</th>
                  <th scope="col">Activity</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1 hour</td>
                  <td>Introductions</td>
                </tr>
                <tr>
                  <td>10 minutes</td>
                  <td>Break</td>
                </tr>
                <tr>
                  <td>1 hour 20 minutes</td>
                  <td>Breakout Groups</td>
                </tr>
                <tr>
                  <td>10 minutes</td>
                  <td>Break</td>
                </tr>
                <tr">
                  <td>1 hour 20 minutes</td>
                  <td>Reflection and Closing Remarks</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</section>
