<section id="submit">
  <div class="container my-5">
    <div class="row">
      <h2 class="display-5 mb-4 mb-lg-5">Call for Submissions</h2>
      <p>We are interested in a variety of submissions that concern research, design, refections, and even personal experiences related to disability justice and HCI. We are paying special attention to the following topics:</p>
      <ul>
        <li>Intersections of disability with race, gender, sexuality, and class</li>
        <li>Accessible ways of doing research which also reciprocate community needs</li>
        <li>Disability justice and AI/ML systems</li>
        <li>Disability justice in the Global South</li>
        <li>Tensions in academia and disability justice</li>
      </ul>
      <p>We invite researchers, designers, practitioners, activists, and community members to submit materials that reflect their interest in the aforementioned topics. These materials may be one of the following:</p>
      <ul>
        <li>300-word abstract</li>
        <li>1-2 page statement of interest or position paper</li>
        <li>Short video (45 seconds or more)</li>
        <li>Blog post</li>
        <li>Pictorial</li>
      </ul>
      <p>All submissions must be accessible. Please refer to our <a href="#resources">resources</a> section with detailed instructions on how to make various submissions accessible.</p>
      <p>Accepted submissions will be featured on the workshop’s website. Per SIGCHI requirements, at least one author of each accepted submission must attend the workshop and all participants must register for both the workshop and for at least one day of the CHI 2022 conference.</p>
      <p><a class="btn btn-primary" href="https://forms.gle/BABfSnr1vgBtMuLy7" role="button">Submission Form</a></p>
    </div>
  </div>
</section>
